.FileViewerCode {
  padding: 6px;
  font-size: 12px;
  font-family: 'PT Mono', monospace;
  line-height: 20px;
  border: 1px solid #E5E5E5;
  border-top: 0;
  counter-reset: main;


  &-Line {
    display: flex;
  }

  &-LineCode {
    flex: 1;
  }

  &-Counter {
    min-width: 30px;
    margin-right: 32px;
    color: #999999;
    text-align: right;
    counter-increment: main;

    &:before {
      content: counter(main);
    }
  }
}
