.Container {
  box-sizing: border-box;

  padding-right: var(--container_hspace);
  padding-left: var(--container_hspace);

  &_type {
    &_centered {
      max-width: 1440px;
      margin-right: auto;
      margin-left: auto;
      --container_hspace: var(--space_xxl);

      @include breakpointBefore(tablet) {
        --container_hspace: var(--space_m);
      }
    }

    &_fluid {
      --container_hspace: var(--space_l);
    }
  }
}

