.FileViewerCode {
  font-size: 12px;
  font-family: 'PT Mono', monospace;
  line-height: 20px;
  counter-reset: main;


  &-Line {
    display: flex;
  }

  &-LineCode {
    flex: 1;
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    word-break: break-all;
  }

  &-Counter {
    min-width: 30px;
    margin-right: 32px;
    color: #999999;
    text-align: right;
    counter-increment: main;

    &:before {
      content: counter(main);
    }
  }
}
