.Dropdown {
  position: relative;

  &-ActionArea {
    cursor: pointer;
  }

  &-Hidden {
    position: absolute;
    top: 100%;
    z-index: 10;
    display: none;
  }

  &-Icon {
    transition: transform 0.3s;
  }

  &_shown {
    .Dropdown-Hidden {
      display: block;
    }

    .Dropdown-Icon {
      transform: rotate(180deg);
    }
  }

  @include breakpointBefore(tablet) {
    &-Hidden {
      position: fixed;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      border-radius: 10px 10px 0 0;

      &:before {
        display: block;
        width: 42px;
        height: 4px;
        margin: 8px auto 12px;
        background: #E5E5E5;
        border-radius: 10px;
        content: '';
      }
    }


    &_shown {
      &:before {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9;
        background: rgba(0, 0, 0, 0.5);
        content: '';
      }
    }
  }
}
