.OneLine {
  display: flex;

  &_distribute {
    &_between {
      justify-content: space-between;
    }
  }

  &_verticalAlign {
    &_center {
      align-items: center;
    }
  }

  &-Item {
    &_verticalPosition {
      &_top {
        align-self: flex-start;
      }

      &_center {
        align-self: center;
      }

      &_bottom {
        align-self: flex-end;
      }
    }

    &_indentL {
      @include space_modifier_values('margin-left', (s m l xl xxl));
    }

    &_indentR {
      @include space_modifier_values('margin-right', (s m l xl xxl));
    }
  }
}
