<html lang="ru">
<head>
    <title>Yandex Arcanum</title>
</head>
<body class="Page Theme">
<%= require('html-loader!./_partials/header.html') %>
<div class="Page-Content">
    <div class="Container Container_type_centered MainPart">
        <div class="CommonInfo MainPart-CommonInfo">
            <div class="Heading CommonInfo-Heading">
                <div class="Heading-Main">
                    DEVTOOLS-4599: Add option to add extra whitespace between projects
                </div>
                <div class="Heading-Button">
                    <button class="Button">
                        <span class="Icon Icon_type_list Button-Icon"></span>
                        <span>Show files at r4318347</span>
                    </button>
                </div>
            </div>

            <div class="CommonInfo-AdditionalInfo">
                <a href="#" class="Link Link_colored">c4d248</a> by <span class="User">robot-srch-releaser</span>, 4 s ago
            </div>
        </div>
        <div class="MainPart-Content">

        </div>
    </div>
</div>
<%= require('html-loader!./_partials/footer.html') %>
</body>
</html>
