<html lang="ru">
<%= require('html-loader!./_partials/head.html') %>
<body class="Page Theme">
<%= require('html-loader!./_partials/header.html') %>
<div class="Page-Content">
    <div class="Container Container_type_centered MainPart">
        <div class="CommonInfo MainPart-CommonInfo">
            <div class="CommonInfo-Heading CommitDiffHeading">
                <div class="CommitDiffHeading-Heading">
                    <div class="Heading">
                        <div class="Heading-Main">
                            DEVTOOLS-4599: Add option to add extra whitespace between projects
                        </div>
                    </div>
                </div>

                <div class="CommitDiffHeading-Buttons">
                    <button class="TextButton IconPlus CommitDiffHeading-BackButton">
                        <span class="Icon Icon_type_chevronLeft IconPlus-Icon IconPlus-Icon_indentR_xs"></span>
                        <span class="IconPlus-Block">Back</span>
                    </button>
                    <button class="Button IconPlus">
                        <span class="Icon Icon_type_bars IconPlus-Icon_indentR_xs"></span>
                        <span class="IconPlus-Block">Show files at r4318347</span>
                    </button>
                </div>
            </div>

            <div class="CommonInfo-AdditionalInfo">
                <a href="#" class="Link Link_colored">c4d248</a> by <span class="User">robot-srch-releaser</span>, 4 s
                ago
            </div>
        </div>
        <div class="MainPart-Content">
            <%= require('html-loader!./_partials/commit-diff.html') %>
        </div>
    </div>
</div>
<%= require('html-loader!./_partials/footer.html') %>
</body>
</html>
