<html lang="ru">
<head>
    <title>Yandex Arcanum</title>
</head>
<body class="Page Theme">
<%= require('html-loader!./_partials/header.html') %>
<div class="Page-Content">
    <div class="Container Container_type_centered MainPart">
        <div class="Heading CommonInfo-Heading">
            <div class="Heading-Main">
                Current page:
            </div>
            <div class="Dropdown Heading-Branch">
                <div class="Dropdown-ActionArea BranchDropdownVisible">
                    <div class="BranchDropdownVisible-Value">
                        Index
                    </div>
                    <div class="BranchDropdownVisible-Icon">
                        <div class="Dropdown-Icon Icon Icon_type_angleDown"></div>
                    </div>
                </div>
                <div class="Dropdown-Hidden BranchDropdown">
                    <div class="BranchDropdown-Current">
                        <div class="BranchDropdownItem BranchDropdownItem_active">
                            <div class="BranchDropdownItem-Name">Index</div>
                        </div>
                    </div>

                    <div class="BranchDropdown-Items">
                        <div class="BranchDropdownItem">
                            <div class="BranchDropdownItem-Name">
                                <a class="Link Link_colored" href="files.html">Files</a>
                            </div>
                        </div>
                        <div class="BranchDropdownItem">
                            <div class="BranchDropdownItem-Name">
                                <a class="Link Link_colored" href="file.html">View file</a>
                            </div>
                        </div>
                        <div class="BranchDropdownItem">
                            <div class="BranchDropdownItem-Name">
                                <a class="Link Link_colored" href="history.html">File history</a>
                            </div>
                        </div>
                        <div class="BranchDropdownItem">
                            <div class="BranchDropdownItem-Name">
                                <a class="Link Link_colored" href="branch-list.html">Branch list</a>
                            </div>
                        </div>
                        <div class="BranchDropdownItem">
                            <div class="BranchDropdownItem-Name">
                                <a class="Link Link_colored" href="commit.html">Commit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= require('html-loader!./_partials/footer.html') %>
</body>
</html>
