.theme {
  --color_black: #000;
  --color_grey-0: #FAFBFC;
  --color_grey-50: #F0F2F3;
  --color_grey-100: #E6E6E6;
  --color_grey-200: #CCCCCC;
  --color_grey-300: #C4C4C4;

  --space_m: 16px;
  --space_l: 20px;
  --space_xl: 32px;

  --color_layout-separator: var(--color_grey-50)
}
