.Theme {
  --color_black: #000;
  --color_grey-0: #FAFBFC;
  --color_grey-50: #F0F2F3;
  --color_grey-100: #E5E5E5;
  --color_grey-200: #CCCCCC;
  --color_grey-300: #979797;
  --color_grey-400: #7F8285;

  --color_blue-300: #1774E9;

  --space_m: 16px;
  --space_l: 20px;
  --space_xl: 32px;

  --color_layout-separator: var(--color_grey-50);
  --color_inner-separator: var(--color_grey-100);
  --color_link: var(--color_blue-300);

  font-family: sans-serif;
}
