.RepoSelect {
  &-Current {
    display: flex;
    height: 100%;
  }

  &-Icon {
    align-self: center;
    padding: 6px;
    font-size: 13px;
  }

  &-Options {
    width: 266px;
    background: white;
    box-shadow: 0 4px 16px rgba(53, 73, 93, 0.2);

    @include breakpointBefore(tablet) {
      width: auto;
    }
  }
}
