.RepoSelectOptions {
  padding: 14px 22px 18px;

  &-Item {
    display: block;
    color: black;
    & + & {
      margin-top: 16px;
    }
  }

  @include breakpointBefore(tablet) {
    padding-top: 0;
  }
}
