.Footer {
  color: var(--color_grey-300);

  border-top: solid 1px var(--color_layout-separator);

  &-Inner {
    display: flex;
    align-items: center;
    height: 49px;
  }

  &-Text {
    flex-grow: 1;
  }

  &-Version {
    margin-right: var(--space_xl);
  }
}
