@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ivrttc') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ivrttc') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ivrttc##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.Icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Icon_type_objects {
  &:before {
    content: $Icon_type_objects; 
  }
}
.Icon_type_chevronLeft {
  &:before {
    content: $Icon_type_chevronLeft; 
  }
}
.Icon_type_externalLink {
  &:before {
    content: $Icon_type_externalLink; 
  }
}
.Icon_type_sortUp {
  &:before {
    content: $Icon_type_sortUp; 
  }
}
.Icon_type_sortDown {
  &:before {
    content: $Icon_type_sortDown; 
  }
}
.Icon_type_chevronRight {
  &:before {
    content: $Icon_type_chevronRight; 
  }
}
.Icon_type_bars {
  &:before {
    content: $Icon_type_bars; 
  }
}
.Icon_type_download {
  &:before {
    content: $Icon_type_download; 
  }
}
.Icon_type_codeBranch {
  &:before {
    content: $Icon_type_codeBranch; 
  }
}
.Icon_type_code {
  &:before {
    content: $Icon_type_code; 
  }
}
.Icon_type_folder {
  &:before {
    content: $Icon_type_folder; 
  }
}
.Icon_type_angleDown {
  &:before {
    content: $Icon_type_angleDown; 
  }
}
.Icon_type_fileText {
  &:before {
    content: $Icon_type_fileText; 
  }
}
.Icon_type_fileCode {
  &:before {
    content: $Icon_type_fileCode; 
  }
}

