$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$Icon_type_objects: "\e900";
$Icon_type_chevronLeft: "\e90d";
$Icon_type_externalLink: "\e90a";
$Icon_type_sortUp: "\e90b";
$Icon_type_sortDown: "\e90c";
$Icon_type_chevronRight: "\e908";
$Icon_type_bars: "\e909";
$Icon_type_download: "\e905";
$Icon_type_codeBranch: "\e906";
$Icon_type_code: "\e907";
$Icon_type_folder: "\e901";
$Icon_type_angleDown: "\e902";
$Icon_type_fileText: "\e903";
$Icon_type_fileCode: "\e904";

