$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$Icon_type_check: "\e900";
$Icon_type_branch: "\e901";
$Icon_type_dir: "\e902";
$Icon_type_fileCode: "\e903";
$Icon_type_fileText: "\e904";

