.Breadcrumbs {
  display: flex;
  align-items: center;
  height: 42px;
  border-bottom: solid 1px var(--color_inner-separator);

  &-Link {
    color: var(--color_grey-400);
    font-size: 14px;
    line-height: 20px;

    &_active {
      color: var(--color_black);
      font-weight: 500;
    }
  }

  &-Separator {
    margin-right: 16px;
    margin-left: 16px;
    color: var(--color_grey-400);
  }
}
