.Nav {
  display: flex;

  &-Link {
    color: #7F8285;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: black;
    }
  }

  &-Item {
    display: flex;
    align-items: center;
    margin-bottom: -1px;
    padding-bottom: 8px;
    border-bottom: solid 3px transparent;

    &_active {
      border-bottom-color: var(--color_highlighted);

      .Nav-Link {
        color: black;
      }
    }

    & + & {
      margin-left: 32px;
    }
  }
}
